/* Imported Fonts */
@font-face
{
    
}

/* General Styles */
body
{
    background-color: #AAAAAA;
    font-family: Sans, sans-serif;
}

#wrapper
{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    background-color: #FFFFFF;
}

header
{
    width: 86%;
    margin-left: 7%;
    margin-bottom: 12pt;
    border: 3px solid #000000;
    background-color: #EFEFEF;
}

h1, h2
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Liberation Serif", serif;
    text-align: center;
}

noscript
{
    text-align: center;
}

template
{
    display: none;
}

/* Main Section */
main
{
    margin-bottom: 2em;
    border-bottom: 1px solid #000000;
}

/* IO */
#input-box
{
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: 0;
    margin-bottom: 1em;
    text-align: center;
}
#output-box
{
    float: left;
    width: 48%;
    margin-right: 0;
    margin-left: 2%;
    margin-bottom: 1em;
    text-align: center;
}
textarea
{
    width: 99%;
    max-width: 99%;
    height: 150pt;
}

/* Processing Buttons (Primary Buttons) */
#process-buttons
{
    clear: both;
    text-align: center;
}
#process-buttons ul
{
    list-style-type: none;
    padding: 0;
}
#process-buttons li
{
    display: inline-block;
    width: 80pt;
}
#process-buttons button
{
    width: 85%;
}

/* Options Section */
#options-section
{
    margin-bottom: 2em;
    border-bottom: 1px solid #000000;
    text-align: center;
}
#options-section ul
{
    list-style-type: none;
    padding: 0;
}
#options-section li
{
    padding-bottom: 0.5em;
}
#options-section div
{
    display: inline-block;
    width: 15em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed #999999;
    text-align: center;
}
#input-text-type, #input-paragraph-type, #input-beta-code-type
{
    display: inline-block;
    width: 48%;
    margin-right: 0.3em;
    text-align: right;
}
#output-text-type, #output-paragraph-type, #output-beta-code-type
{
    display: inline-block;
    width: 48%;
    margin-left: 0.3em;
    text-align: left;
}

/* Advanced Options Section */
#advanced-options-section
{
    margin-bottom: 2em;
    border-bottom: 1px solid #000000;
    overflow: auto;
    text-align: center;
}
#advanced-options-section ul
{
    list-style-type: none;
    padding: 0;
}
#letters-column, #accents-breathers-column, #symbols-column
{
    float: left;
    width: 33.33%;
    min-width: 15em;
}
#accents-breathers-column
{
    background-color: #F0F0F0;
}
#letters-column div, #accents-breathers-column div, #symbols-column div
{
    display: inline-block;
    width: 8em;
    padding-bottom: 0.5em;
}
#letters-column div, #symbols-column div
{
    border-bottom: 1px dashed #999999;
}
#accents-breathers-column div
{
    border-bottom: 1px dashed #777777;
}
#letters-column li, #accents-breathers-column li, #symbols-column li
{
    display: inline-block;
    width: 48%;
    min-width: 10em;
    padding-bottom: 0.5em;
    text-align: center;
}

footer
{
    clear: both;
    font-family: "Liberation Serif";
    font-style: italic;
    text-align: center;
}

div .column { display: inline-box}; /* Necessary? */
